<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GenAI Welcome</title>

    <script>
        async function getAnswer() {
            
          // Selecting the input element and get its value
          var inputVal = document.getElementById("question").value;
          var url = "https://studious-space-bassoon-5v544gw9gjwcvp64-8000.app.github.dev/genai/?query="
          // Displaying the value
          
          var final_url=url+inputVal
       //alert(final_url)

        const response = await fetch(final_url);


  document.getElementById("demo").innerHTML =  JSON.stringify(await response.json()).replace("\\n","</br>");
 
  //console.log(movies);
  //        var requestOptions = {
   //       method: 'GET',
   //       headers: myHeaders,
     //     redirect: 'follow'

//        };
        
  //      fetch(final_url, requestOptions)
    //      .then(response => response.text())
      //    //.then(result => console.log(result))
        //  .then(result => document.getElementById("demo").innerHTML =
          // "<strong>The answer is: </strong>" + (result))
          //.catch(error => console.log('error', error));  
        }
      </script>
</head>
<body>
   <h1>Welcome to GenAI Welcome</h1>

   <form >
    <div>
        <label for="username">Question:</label><br>
        <input type="text" id="question" name="Question" size="200"><br>
    </div>
    <div>
        <input type="button" value="Get Answer" onclick="getAnswer();">
    </div>
<br>
<br>
<h1>Answer:</h1>
<br>
    <p id="demo"></p>
</form>   

</body>
</html>